alpha/canteen_management_system/canteen_management/force-app/main/default/flows/generate_Quote_from_orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Quote_Lines_to_List</name>
        <label>Add Quote Lines to List</label>
        <locationX>270</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Quote_Line_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collectionLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_new_contact</name>
        <label>assign new contact</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>new_contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingOrder.studentFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingOrder.studentEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingOrder.studentLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign order items into a collection variable</description>
        <name>AssignOrderItems</name>
        <label>AssignOrderItems</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>items_list</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incomingOrder.orderItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collectionLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign individual order items into quotline items</description>
        <name>individual_Quoteline_Assignment</name>
        <label>individual_Quoteline_Assignment</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Quote_Line_Item.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionLoop.quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote_Line_Item.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createQoute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote_Line_Item.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionLoop.sfProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote_Line_Item.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionLoop.sfPricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quote_Line_Item.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionLoop.sfUnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Quote_Lines_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_contact_Id</name>
        <label>set contact Id</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createQoute</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_existing_contact_Id</name>
        <label>set existing contact Id</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createQoute</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approve_or_Reject_Quote</name>
        <label>Approve or Reject Quote</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLineItemsToInsert</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>approve_quote</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <decisions>
        <description>to check generated order is valid or not before generating qoute</description>
        <name>checkRecord</name>
        <label>checkStudentExists</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>assign_new_contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>newstudent</defaultConnectorLabel>
        <rules>
            <name>existingStudent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_existing_contact_Id</targetReference>
            </connector>
            <label>existingStudent</label>
        </rules>
    </decisions>
    <decisions>
        <description>to check whether the incoming order is valid with a student name,email and student order items</description>
        <name>incomingOrderCheck</name>
        <label>incomingOrderCheck</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>validOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incomingOrder.studentEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>incomingOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getExistingRecords</targetReference>
            </connector>
            <label>validOrder</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>generate Quote from orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>generate Quote from orders</label>
    <loops>
        <description>loop through items_list</description>
        <name>collectionLoop</name>
        <label>collectionLoop</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <collectionReference>items_list</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>individual_Quoteline_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_quote_line_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_contact</name>
        <label>create contact</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>set_contact_Id</targetReference>
        </connector>
        <inputReference>new_contact</inputReference>
    </recordCreates>
    <recordCreates>
        <description>create the quotelineitems under the quote</description>
        <name>create_quote_line_items</name>
        <label>create quote line items</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Approve_or_Reject_Quote</targetReference>
        </connector>
        <inputReference>QuoteLineItemsToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <description>to generate qoute for existing student</description>
        <name>createQoute</name>
        <label>createQoute</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>AssignOrderItems</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>incomingOrder.studentEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Order for {!incomingOrder.studentName}-{!$Flow.CurrentDateTime}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>incomingOrder.pricebookId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>to check whether the given contact email is already existing</description>
        <name>getExistingRecords</name>
        <label>getExistingRecords</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingOrder.studentEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomingOrder.studentName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>approve_quote</name>
        <label>approve quote</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>createQoute</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>incomingOrderCheck</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>incoming orders from the canteen</description>
        <name>incomingOrder</name>
        <apexClass>OrderDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to collect items list from  OrderDetails</description>
        <name>items_list</name>
        <apexClass>OrderItems</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>new_contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>to store individual orderitems set to qouteline variable</description>
        <name>Quote_Line_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
</Flow>
